target-version = "py310"
line-length = 100
fix = true
unsafe-fixes = true
respect-gitignore = true

[lint]
select = [
    "E",   # pycodestyle
    "F",   # pyflakes
    "I",   # import sorting
    "UP",  # pyupgrade
    "B",   # bugbear
    "SIM", # simplify
]
ignore = [
    "E501", # handled by formatter
]

[lint.isort]
combine-as-imports = true
force-sort-within-sections = true
known-first-party = ["videodownloader"]

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"
